<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/static/login/JD_sass/JD1.css" />
	<script src="/static/login/JD_js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<title>gulimall</title>
	<style>
		/* 确保切换手感更好 */
		.si_cen h2 { cursor: pointer; }
		.act { color: #e4393c !important; font-weight: bold; border-bottom: 2px solid #e4393c; }
	</style>
</head>
<body>
<header>
	<a href="http://gulimail.com"><img src="/static/login/JD_img/logo.jpg" /></a>
	<p>欢迎登录</p>
	<div class="top-1">
		<img src="/static/login/JD_img/4de5019d2404d347897dee637895d02b_06.png" /><span>登录页面,调查问卷</span>
	</div>
</header>

<div class="top-2">
	<div class="top-2a">
		<img src="/static/login/JD_img/4de5019d2404d347897dee637895d02b_11.png" />
		<p>依据《网络安全法》，为保障您的账户安全和正常使用，请尽快完成手机号验证！新版《<span>谷粒商城隐私政策</span>》已上线，将更有利于保护您的个人隐私。</p>
	</div>
</div>

<div class="top-3">
	<div class="img_1">
		<img src="/static/login/JD_img/5731485aN1134b4f0.png" />
	</div>
	<div id="sign">
		<div class="si_top">
			<p>
				<span>谷粒商城不会以任何理由要求您转账汇款，谨防诈骗。</span>
			</p>
		</div>
		<div class="si_cen">
			<h2 class="act btn1">扫码登录</h2>
			<span>|</span>
			<h2 class="btn1">账户登录</h2>
		</div>

		<div class="si_bom tab" style="display: block;">
			<img src="/static/login/JD_img/show.png" class="bom_1" />
			<a href="#"><img src="/static/login/JD_img/phone-orange.png" class="bom_2" /></a>
			<h6>打开<span class="red">手机谷粒商城</span> 扫描二维码</h6>
			<p>
				<img src="/static/login/JD_img/4de5019d2404d347897dee637895d02b_15.png" />
				<span><a href="#">免输入</a></span>
				<img src="/static/login/JD_img/4de5019d2404d347897dee637895d02b_17.png" />
				<span><a href="#">更快</a></span>
				<img src="/static/login/JD_img/4de5019d2404d347897dee637895d02b_19.png" />
				<span><a href="#">更安全</a></span>
			</p>
		</div>

		<div class="si_bom1 tab" style="display: none;">
			<form id="loginForm">
				<ul>
					<li class="top_1">
						<img src="/static/login/JD_img/user_03.png" class="err_img1" />
						<input type="text" name="loginacct" id="loginacct" placeholder=" 邮箱/用户名/已验证手机" class="user" />
					</li>
					<li>
						<img src="/static/login/JD_img/user_06.png" class="err_img2" />
						<input type="password" name="password" id="password" placeholder=" 密码" class="password" />
					</li>
					<li class="bri">
						<a href="">忘记密码</a>
					</li>
					<li class="ent">
						<button type="button" id="loginBtn" class="btn2">登 &nbsp; &nbsp;录</button>
					</li>
				</ul>
				<div id="errorMsg" style="color: #e4393c; text-align: center; margin-top: 10px; font-size: 12px; display: none;">
					<span class="msg_content"></span>
				</div>
			</form>
		</div>

		<div class="si_out">
			<ul>
				<li>
					<a href="">
						<img src="/static/login/JD_img/weibo.png" style="width: 18px; vertical-align: middle;" />
						<span>微博</span>
					</a>
				</li>
				<li class="f4"> | </li>
				<li>
					<a th:href="${githubAuthUrl}" href="https://github.com/login/oauth/authorize">
						<img src="/static/login/JD_img/github.png" style="width: 18px; vertical-align: middle;" />
						<span>Github</span>
					</a>
				</li>
			</ul>
			<h5 class="rig">
				<img src="/static/login/JD_img/4de5019d2404d347897dee637895d02b_25.png" />
				<span><a href="http://auth.gulimail.com/reg.html">立即注册</a></span>
			</h5>
		</div>
	</div>
</div>

<footer>
	<ul>
		<li><a href="#">关于我们</a></li>
		<li class="little">|</li>
		<li><a href="#">联系我们</a></li>
		<li class="little">|</li>
		<li><a href="#">人才招聘</a></li>
		<li class="little">|</li>
		<li><a href="#">商家入驻</a></li>
		<li class="little">|</li>
		<li><a href="#">广告服务</a></li>
		<li class="little">|</li>
		<li><a href="#">手机谷粒商城</a></li>
		<li class="little">|</li>
		<li><a href="#">友情链接</a></li>
		<li class="little">|</li>
		<li><a href="#">销售联盟</a></li>
		<li class="little">|</li>
		<li><a href="#">谷粒商城社区</a></li>
		<li class="little">|</li>
		<li><a href="#">谷粒商城公益</a></li>
		<li class="little">|</li>
		<li><a href="#">English Site</a></li>
	</ul>
	<span>Copyright &copy; 2004-2017 谷粒商城gulimall.com 版权所有</span>
</footer>

<script type="text/javascript">
	$(function() {
		// 1. 选项卡切换逻辑
		$(".si_cen h2").click(function() {
			// 移除所有按钮的选中状态
			$(".si_cen h2").removeClass("act");
			// 隐藏所有选项卡内容
			$(".tab").hide();

			// 给当前点击的按钮加上选中状态
			$(this).addClass("act");
			// 显示对应的选项卡内容
			var index = $(this).index();
			// 由于 h2 中间有个 span 分隔符，需要计算索引
			if(index == 0) {
				$(".si_bom").show(); // 扫码
			} else {
				$(".si_bom1").show(); // 账户
			}
		});

		// 2. 登录 Ajax 逻辑
		$("#loginBtn").click(function() {
			var loginacct = $("#loginacct").val();
			var password = $("#password").val();

			if (!loginacct || !password) {
				$("#errorMsg").text("请输入账户名和密码").show();
				return false;
			}

			$.post("/login", $("#loginForm").serialize(), function(data) {
				if (data.code == 0) {
					window.location.href = "http://gulimail.com";
				} else {
					$("#errorMsg").text(data.msg).show();
				}
			});
		});

		// 3. 绑定回车键
		$(document).keyup(function(event) {
			if (event.keyCode == 13) {
				$("#loginBtn").click();
			}
		});

		// 4. 输入框焦点
		$("#loginacct, #password").focus(function(){
			$("#errorMsg").hide();
		});
	});
</script>
</body>
</html>
